html {
  scroll-behavior: smooth !important;
}

html,
body {
  overflow-x: clip;
  line-height: 1.5;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-locale: auto;
}

input,
textarea,
button {
  font-family: inherit;
  border: none;
  outline: none;
  border-radius: 0;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea,
button {
  -webkit-appearance: none;
}

input::-webkit-credentials-auto-fill-button,
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input::-ms-reveal,
input::-ms-clear {
  width: 0;
  height: 0;
}

fieldset {
  border: none;
}

h1,
h2,
h3,
h4 {
  color: inherit;
  margin: 0;
}

h5,
h6 {
  font-family: var(--font-base-semi);
  font-weight: 600;
  color: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

a,
button {
  cursor: pointer;
}

li {
  list-style: none;
}

.fadeInStyles {
  @include fadeInAnimation;
  animation: fadeIn 300ms ease forwards;
}
