@use "@/shared/styles/_mixins" as *;

.slide {
  display: flex;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  width: fit-content;

  @include mobile {
    max-width: 84vw;
  }
}

.slideImage {
  display: block;
  height: 100%;
  position: relative;
  opacity: 0;
  transition: opacity 0.5s;
  user-select: none;
}

.imageWrapper {
  height: 480px;
  width: 100%;
  position: relative;
  align-self: center;
  overflow: hidden;
  border-radius: 16px;

  @include tablet {
    height: 360px;
  }

  @include mobile {
    height: 160px;
  }
}

.captionWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  background: rgba(29, 29, 29, 0.5);

  @include mobile {
    font-size: 14px;
    line-height: 22px;
  }
}

.captionText {
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slideImageAppear {
  opacity: 1;
}

.skeletonImgWrapper {
  display: block;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.5s;
}

.skeletonImgWrapperAppear {
  opacity: 0.2;
}

.skeletonImg {
  display: block;
}
